In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

### Store CSVs into DataFrame

In [2]:
# Read in xlsx for crude oil prices
oil_prices = "crude_oil_prices.xlsx"
oil_prices_df = pd.read_excel(oil_prices)
oil_prices_df.head()

        Date  Closing Value
0 1986-01-02          25.56
1 1986-01-03          26.00
2 1986-01-06          26.53
3 1986-01-07          25.85
4 1986-01-08          25.87

In [3]:
# View all columns for accidents df to decide what to keep
oil_prices_df.columns

Index(['Date', 'Closing Value'], dtype='object')

In [19]:
# Rename columns 
new_oil_prices_df = oil_prices_df.rename(columns={'Date' : 'date', 'Closing Value' : 'price'})
new_oil_prices_df

           date  price
0    1986-01-02  25.56
1    1986-01-03  26.00
2    1986-01-06  26.53
3    1986-01-07  25.85
4    1986-01-08  25.87
...         ...    ...
8218 2018-07-03  74.19
8219 2018-07-04    NaN
8220 2018-07-05  73.05
8221 2018-07-06  73.78
8222 2018-07-09  73.93

[8223 rows x 2 columns]

In [78]:
# Drop everything which is N/A
cleaned_oil = new_oil_prices_df.dropna()
cleaned_oil

           date  price
0    1986-01-02  25.56
1    1986-01-03  26.00
2    1986-01-06  26.53
3    1986-01-07  25.85
4    1986-01-08  25.87
...         ...    ...
8217 2018-07-02  73.89
8218 2018-07-03  74.19
8220 2018-07-05  73.05
8221 2018-07-06  73.78
8222 2018-07-09  73.93

[8216 rows x 2 columns]

In [79]:
cleaned_oil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8216 entries, 0 to 8222
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8216 non-null   datetime64[ns]
 1   price   8216 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 192.6 KB

## Oil Pipeline Accidents CSV

In [21]:
# Read in csv for crude oil prices
accidents = "oil_pipeline_accidents.csv"
accidents_df = pd.read_csv(accidents)
accidents_df.head()

,Report Number,Supplemental Number,Accident Year,Accident Date/Time,Operator ID,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,20100016,17305,2010,1/1/2010 7:15 AM,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,110.0,1517.0,0.0,0.0,0.0,0.0,1627
1,20100254,17331,2010,1/4/2010 8:30 AM,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,NaN,4000.0,8.0,0.0,0.0,0.0,0.0,4008
2,20100038,17747,2010,1/5/2010 10:30 AM,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,0.0,200.0,0.0,0.0,0.0,0.0,200
3,20100260,18574,2010,1/6/2010 7:30 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,200.0,40.0,0.0,11300.0,0.0,0.0,11540
4,20100030,16276,2010,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650

In [24]:
# View all columns for accidents df to decide what to keep
accidents_df.columns

Index(['Report Number', 'Supplemental Number', 'Accident Year',
       'Accident Date/Time', 'Operator ID', 'Operator Name',
       'Pipeline/Facility Name', 'Pipeline Location', 'Pipeline Type',
       'Liquid Type', 'Liquid Subtype', 'Liquid Name', 'Accident City',
       'Accident County', 'Accident State', 'Accident Latitude',
       'Accident Longitude', 'Cause Category', 'Cause Subcategory',
       'Unintentional Release (Barrels)', 'Intentional Release (Barrels)',
       'Liquid Recovery (Barrels)', 'Net Loss (Barrels)', 'Liquid Ignition',
       'Liquid Explosion', 'Pipeline Shutdown', 'Shutdown Date/Time',
       'Restart Date/Time', 'Public Evacuations', 'Operator Employee Injuries',
       'Operator Contractor Injuries', 'Emergency Responder Injuries',
       'Other Injuries', 'Public Injuries', 'All Injuries',
       'Operator Employee Fatalities', 'Operator Contractor Fatalities',
       'Emergency Responder Fatalities', 'Other Fatalities',
       'Public Fatalities', 'All Fatalities', 'Property Damage Costs',
       'Lost Commodity Costs', 'Public/Private Property Damage Costs',
       'Emergency Response Costs', 'Environmental Remediation Costs',
       'Other Costs', 'All Costs'],
      dtype='object')

In [25]:
# Remove any unnecessary columns from accidents df
accidents_list = ['Report Number', 'Accident Date/Time', 'Operator ID', 'Operator Name','Pipeline/Facility Name', 'Pipeline Location', 'Pipeline Type', 'Liquid Type', 'Accident City','Accident County','Accident State', 'Cause Category', 'Cause Subcategory', 'Pipeline Shutdown', 'Shutdown Date/Time', 'Restart Date/Time']


new_accidents_df = accidents_df[accidents_list].copy()
new_accidents_df

,Report Number,Accident Date/Time,Operator ID,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,Accident City,Accident County,Accident State,Cause Category,Cause Subcategory,Pipeline Shutdown,Shutdown Date/Time,Restart Date/Time
0,20100016,1/1/2010 7:15 AM,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",MCPHERSON,MCPHERSON,KS,INCORRECT OPERATION,PIPELINE/EQUIPMENT OVERPRESSURED,NO,NaN,NaN
1,20100254,1/4/2010 8:30 AM,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,RAYMOND,CUMBERLAND,ME,MATERIAL/WELD/EQUIP FAILURE,PUMP OR PUMP-RELATED EQUIPMENT,NaN,NaN,NaN
2,20100038,1/5/2010 10:30 AM,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",SULPHER,CALCASIEU,LA,MATERIAL/WELD/EQUIP FAILURE,DEFECTIVE OR LOOSE TUBING/FITTING,NaN,NaN,NaN
3,20100260,1/6/2010 7:30 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,SUPERIOR,DOUGLAS,WI,NATURAL FORCE DAMAGE,TEMPERATURE,NaN,NaN,NaN
4,20100030,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,SHERMAN,GRAYSON,TX,EXCAVATION DAMAGE,THIRD PARTY EXCAVATION DAMAGE,NO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,20170015,12/27/2016 8:40 AM,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,TINA,CARROLL,MO,MATERIAL/WELD/EQUIP FAILURE,THREADED CONNECTION/COUPLING FAILURE,YES,12/27/2016 8:54,12/27/2016 16:11
2791,20170028,12/28/2016 4:20 PM,4906,EXXONMOBIL PIPELINE CO,BRRF - CHOCTAW ETHANE/PROPANE MIX SYSTEM,ONSHORE,UNDERGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",NaN,WEST BATON ROUGE,LA,ALL OTHER CAUSES,UNKNOWN,YES,12/28/2016 16:20,NaN
2792,20170027,12/29/2016 6:40 AM,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,MATERIAL/WELD/EQUIP FAILURE,OTHER EQUIPMENT FAILURE,NO,NaN,NaN
2793,20170024,1/3/2017 10:00 AM,32147,MARATHON PIPE LINE LLC,MIDLAND STATION,ONSHORE,UNDERGROUND,"REFINED AND/OR PETROLEUM PRODUCT (NON-HVL), LI...",INDUSTRY,BEAVER COUNTY,PA,ALL OTHER CAUSES,UNKNOWN,NO,NaN,NaN
2794,20170025,1/9/2017 7:40 AM,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,GONZALES,GONZALES,TX,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN

In [26]:
# Rename columns in accidents df
new_accidents_df = new_accidents_df.rename(columns={'Report Number': 'report_number', 'Accident Date/Time' : 'accident_date', 'Operator ID' : 'op_id', 'Operator Name' : 'op_name','Pipeline/Facility Name' : 'facility_name', 'Pipeline Location' : 'location', 'Pipeline Type' : 'pipeline_type','Liquid Type' : 'liquid_type', 'Accident City' : 'city','Accident County': 'country','Accident State' : 'state', 'Cause Category' : 'cause_cat', 'Cause Subcategory' : 'cause_subcat', 'Pipeline Shutdown' : 'shutdown', 'Shutdown Date/Time' : "shut_date_time", 'Restart Date/Time' : 'restart_date_time'})

new_accidents_df

,report_number,accident_date,op_id,op_name,facility_name,location,pipeline_type,liquid_type,city,country,state,cause_cat,cause_subcat,shutdown,shut_date_time,restart_date_time
0,20100016,1/1/2010 7:15 AM,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",MCPHERSON,MCPHERSON,KS,INCORRECT OPERATION,PIPELINE/EQUIPMENT OVERPRESSURED,NO,NaN,NaN
1,20100254,1/4/2010 8:30 AM,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,RAYMOND,CUMBERLAND,ME,MATERIAL/WELD/EQUIP FAILURE,PUMP OR PUMP-RELATED EQUIPMENT,NaN,NaN,NaN
2,20100038,1/5/2010 10:30 AM,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",SULPHER,CALCASIEU,LA,MATERIAL/WELD/EQUIP FAILURE,DEFECTIVE OR LOOSE TUBING/FITTING,NaN,NaN,NaN
3,20100260,1/6/2010 7:30 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,SUPERIOR,DOUGLAS,WI,NATURAL FORCE DAMAGE,TEMPERATURE,NaN,NaN,NaN
4,20100030,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,SHERMAN,GRAYSON,TX,EXCAVATION DAMAGE,THIRD PARTY EXCAVATION DAMAGE,NO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2790,20170015,12/27/2016 8:40 AM,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,TINA,CARROLL,MO,MATERIAL/WELD/EQUIP FAILURE,THREADED CONNECTION/COUPLING FAILURE,YES,12/27/2016 8:54,12/27/2016 16:11
2791,20170028,12/28/2016 4:20 PM,4906,EXXONMOBIL PIPELINE CO,BRRF - CHOCTAW ETHANE/PROPANE MIX SYSTEM,ONSHORE,UNDERGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",NaN,WEST BATON ROUGE,LA,ALL OTHER CAUSES,UNKNOWN,YES,12/28/2016 16:20,NaN
2792,20170027,12/29/2016 6:40 AM,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,MATERIAL/WELD/EQUIP FAILURE,OTHER EQUIPMENT FAILURE,NO,NaN,NaN
2793,20170024,1/3/2017 10:00 AM,32147,MARATHON PIPE LINE LLC,MIDLAND STATION,ONSHORE,UNDERGROUND,"REFINED AND/OR PETROLEUM PRODUCT (NON-HVL), LI...",INDUSTRY,BEAVER COUNTY,PA,ALL OTHER CAUSES,UNKNOWN,NO,NaN,NaN
2794,20170025,1/9/2017 7:40 AM,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,GONZALES,GONZALES,TX,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN

In [27]:
# Look at what non null values are in the accidents df
new_accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2795 entries, 0 to 2794
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   report_number      2795 non-null   int64
 1   accident_date      2795 non-null   object
 2   op_id              2795 non-null   int64
 3   op_name            2795 non-null   object
 4   facility_name      2674 non-null   object
 5   location           2795 non-null   object
 6   pipeline_type      2777 non-null   object
 7   liquid_type        2795 non-null   object
 8   city               2480 non-null   object
 9   country            2720 non-null   object
 10  state              2783 non-null   object
 11  cause_cat          2795 non-null   object
 12  cause_subcat       2795 non-null   object
 13  shutdown           2583 non-null   object
 14  shut_date_time     1390 non-null   object
 15  restart_date_time  1341 non-null   object
dtypes: int64(2), object(14)
memory usage: 349.5+ KB

In [28]:
# Drop all accidents not related to crude oil
new_accidents_df2 = new_accidents_df[new_accidents_df.liquid_type=="CRUDE OIL"]

new_accidents_df2

,report_number,accident_date,op_id,op_name,facility_name,location,pipeline_type,liquid_type,city,country,state,cause_cat,cause_subcat,shutdown,shut_date_time,restart_date_time
1,20100254,1/4/2010 8:30 AM,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,RAYMOND,CUMBERLAND,ME,MATERIAL/WELD/EQUIP FAILURE,PUMP OR PUMP-RELATED EQUIPMENT,NaN,NaN,NaN
3,20100260,1/6/2010 7:30 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,SUPERIOR,DOUGLAS,WI,NATURAL FORCE DAMAGE,TEMPERATURE,NaN,NaN,NaN
4,20100030,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,SHERMAN,GRAYSON,TX,EXCAVATION DAMAGE,THIRD PARTY EXCAVATION DAMAGE,NO,NaN,NaN
5,20100021,1/8/2010 11:38 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",NaN,ONSHORE,UNDERGROUND,CRUDE OIL,NECHE,PEMBINA,ND,MATERIAL/WELD/EQUIP FAILURE,MANUFACTURING-RELATED,YES,1/8/2010 23:41,1/13/2010 9:17
12,20100234,1/11/2010 3:00 PM,9175,JAYHAWK PIPELINE LLC,CHASE KAW TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,CHASE,RICE,KS,CORROSION,INTERNAL,YES,1/11/2010 15:10,1/13/2010 14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788,20170023,12/24/2016 9:35 AM,31684,PHILLIPS 66 PIPELINE LLC,"NT-90, PREDO TO CARSON",ONSHORE,ABOVEGROUND,CRUDE OIL,NaN,ARCHER,TX,MATERIAL/WELD/EQUIP FAILURE,NON-THREADED CONNECTION FAILURE,NO,NaN,NaN
2789,20170026,12/26/2016 7:20 AM,32011,"HOLLY ENERGY PARTNERS - OPERATING, L.P.",RUSSELL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,NaN,GAINES,TX,CORROSION,INTERNAL,YES,12/26/2016 7:20,12/26/2016 10:00
2790,20170015,12/27/2016 8:40 AM,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,TINA,CARROLL,MO,MATERIAL/WELD/EQUIP FAILURE,THREADED CONNECTION/COUPLING FAILURE,YES,12/27/2016 8:54,12/27/2016 16:11
2792,20170027,12/29/2016 6:40 AM,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,MATERIAL/WELD/EQUIP FAILURE,OTHER EQUIPMENT FAILURE,NO,NaN,NaN
2794,20170025,1/9/2017 7:40 AM,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,GONZALES,GONZALES,TX,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN

In [29]:
# Look at what non null values are in the accidents df once filtered for all accidents related to crude oil
new_accidents_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1398 entries, 1 to 2794
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   report_number      1398 non-null   int64
 1   accident_date      1398 non-null   object
 2   op_id              1398 non-null   int64
 3   op_name            1398 non-null   object
 4   facility_name      1345 non-null   object
 5   location           1398 non-null   object
 6   pipeline_type      1380 non-null   object
 7   liquid_type        1398 non-null   object
 8   city               1204 non-null   object
 9   country            1353 non-null   object
 10  state              1386 non-null   object
 11  cause_cat          1398 non-null   object
 12  cause_subcat       1398 non-null   object
 13  shutdown           1310 non-null   object
 14  shut_date_time     704 non-null    object
 15  restart_date_time  669 non-null    object
dtypes: int64(2), object(14)
memory usage: 185.7+ KB

In [72]:
# Drop everything which is N/A in the following columns within accidents: city, facility_name, country, shutdown
cleaned_accidents = new_accidents_df2.dropna(subset=['city', 'facility_name', 'country', 'shutdown'])
cleaned_accidents

,report_number,accident_date,op_id,op_name,facility_name,location,pipeline_type,liquid_type,city,country,state,cause_cat,cause_subcat,shutdown,shut_date_time,restart_date_time
4,20100030,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,SHERMAN,GRAYSON,TX,EXCAVATION DAMAGE,THIRD PARTY EXCAVATION DAMAGE,NO,NaN,NaN
12,20100234,1/11/2010 3:00 PM,9175,JAYHAWK PIPELINE LLC,CHASE KAW TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,CHASE,RICE,KS,CORROSION,INTERNAL,YES,1/11/2010 15:10,1/13/2010 14:00
13,20100026,1/11/2010 11:00 PM,31684,CONOCOPHILLIPS,TANK 824,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,NATURAL FORCE DAMAGE,TEMPERATURE,NO,NaN,NaN
14,20100106,1/12/2010 10:25 AM,26085,"PLAINS MARKETING, L.P.",CUSHING TERMINAL,ONSHORE,ABOVEGROUND,CRUDE OIL,CUSHING,LINCOLN,OK,CORROSION,INTERNAL,YES,1/12/2010 10:25,1/14/2010 10:25
15,20100082,1/12/2010 2:30 PM,32080,"CCPS TRANSPORTATION, LLC","CCPS TRANSPORTATION, RUSH STATION",ONSHORE,ABOVEGROUND,CRUDE OIL,RUSHVILLE,SCHUYLER,IL,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786,20170022,12/22/2016 9:25 PM,32080,"CCPS TRANSPORTATION, LLC",LINE 59 KEY STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,SALISBURY,CHARITON,MO,MATERIAL/WELD/EQUIP FAILURE,PUMP OR PUMP-RELATED EQUIPMENT,YES,12/22/2016 21:53,12/23/2016 2:26
2787,20170021,12/23/2016 3:00 PM,30829,ENTERPRISE CRUDE PIPELINE LLC,ECHO MANIFOLD,ONSHORE,ABOVEGROUND,CRUDE OIL,HOUSTON,HARRIS,TX,ALL OTHER CAUSES,UNKNOWN,NO,NaN,NaN
2790,20170015,12/27/2016 8:40 AM,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,TINA,CARROLL,MO,MATERIAL/WELD/EQUIP FAILURE,THREADED CONNECTION/COUPLING FAILURE,YES,12/27/2016 8:54,12/27/2016 16:11
2792,20170027,12/29/2016 6:40 AM,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,MATERIAL/WELD/EQUIP FAILURE,OTHER EQUIPMENT FAILURE,NO,NaN,NaN
2794,20170025,1/9/2017 7:40 AM,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,GONZALES,GONZALES,TX,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN

In [73]:
# Look at what non null values are in the accidents df once N/A were removed from specific columns - Final accidents df
cleaned_accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 4 to 2794
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   report_number      1103 non-null   int64
 1   accident_date      1103 non-null   object
 2   op_id              1103 non-null   int64
 3   op_name            1103 non-null   object
 4   facility_name      1103 non-null   object
 5   location           1103 non-null   object
 6   pipeline_type      1103 non-null   object
 7   liquid_type        1103 non-null   object
 8   city               1103 non-null   object
 9   country            1103 non-null   object
 10  state              1103 non-null   object
 11  cause_cat          1103 non-null   object
 12  cause_subcat       1103 non-null   object
 13  shutdown           1103 non-null   object
 14  shut_date_time     590 non-null    object
 15  restart_date_time  559 non-null    object
dtypes: int64(2), object(14)
memory usage: 146.5+ KB

In [74]:
# Split accident date/time column in final accidents df and drop original accident_date column
cleaned_accidents["date"] = cleaned_accidents["accident_date"].str.split(expand = True)[0].str.replace(" ","")
cleaned_accidents = cleaned_accidents.drop(['accident_date'], axis = 1)
cleaned_accidents

,report_number,op_id,op_name,facility_name,location,pipeline_type,liquid_type,city,country,state,cause_cat,cause_subcat,shutdown,shut_date_time,restart_date_time,date
4,20100030,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,SHERMAN,GRAYSON,TX,EXCAVATION DAMAGE,THIRD PARTY EXCAVATION DAMAGE,NO,NaN,NaN,1/7/2010
12,20100234,9175,JAYHAWK PIPELINE LLC,CHASE KAW TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,CHASE,RICE,KS,CORROSION,INTERNAL,YES,1/11/2010 15:10,1/13/2010 14:00,1/11/2010
13,20100026,31684,CONOCOPHILLIPS,TANK 824,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,NATURAL FORCE DAMAGE,TEMPERATURE,NO,NaN,NaN,1/11/2010
14,20100106,26085,"PLAINS MARKETING, L.P.",CUSHING TERMINAL,ONSHORE,ABOVEGROUND,CRUDE OIL,CUSHING,LINCOLN,OK,CORROSION,INTERNAL,YES,1/12/2010 10:25,1/14/2010 10:25,1/12/2010
15,20100082,32080,"CCPS TRANSPORTATION, LLC","CCPS TRANSPORTATION, RUSH STATION",ONSHORE,ABOVEGROUND,CRUDE OIL,RUSHVILLE,SCHUYLER,IL,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN,1/12/2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786,20170022,32080,"CCPS TRANSPORTATION, LLC",LINE 59 KEY STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,SALISBURY,CHARITON,MO,MATERIAL/WELD/EQUIP FAILURE,PUMP OR PUMP-RELATED EQUIPMENT,YES,12/22/2016 21:53,12/23/2016 2:26,12/22/2016
2787,20170021,30829,ENTERPRISE CRUDE PIPELINE LLC,ECHO MANIFOLD,ONSHORE,ABOVEGROUND,CRUDE OIL,HOUSTON,HARRIS,TX,ALL OTHER CAUSES,UNKNOWN,NO,NaN,NaN,12/23/2016
2790,20170015,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,TINA,CARROLL,MO,MATERIAL/WELD/EQUIP FAILURE,THREADED CONNECTION/COUPLING FAILURE,YES,12/27/2016 8:54,12/27/2016 16:11,12/27/2016
2792,20170027,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,MATERIAL/WELD/EQUIP FAILURE,OTHER EQUIPMENT FAILURE,NO,NaN,NaN,12/29/2016
2794,20170025,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,GONZALES,GONZALES,TX,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN,1/9/2017

In [76]:
# Change the format of the accident date to match the oil price date
cleaned_accidents["date"] = pd.to_datetime(cleaned_accidents["date"])
cleaned_accidents

,report_number,op_id,op_name,facility_name,location,pipeline_type,liquid_type,city,country,state,cause_cat,cause_subcat,shutdown,shut_date_time,restart_date_time,date
4,20100030,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,SHERMAN,GRAYSON,TX,EXCAVATION DAMAGE,THIRD PARTY EXCAVATION DAMAGE,NO,NaN,NaN,2010-01-07
12,20100234,9175,JAYHAWK PIPELINE LLC,CHASE KAW TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,CHASE,RICE,KS,CORROSION,INTERNAL,YES,1/11/2010 15:10,1/13/2010 14:00,2010-01-11
13,20100026,31684,CONOCOPHILLIPS,TANK 824,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,NATURAL FORCE DAMAGE,TEMPERATURE,NO,NaN,NaN,2010-01-11
14,20100106,26085,"PLAINS MARKETING, L.P.",CUSHING TERMINAL,ONSHORE,ABOVEGROUND,CRUDE OIL,CUSHING,LINCOLN,OK,CORROSION,INTERNAL,YES,1/12/2010 10:25,1/14/2010 10:25,2010-01-12
15,20100082,32080,"CCPS TRANSPORTATION, LLC","CCPS TRANSPORTATION, RUSH STATION",ONSHORE,ABOVEGROUND,CRUDE OIL,RUSHVILLE,SCHUYLER,IL,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN,2010-01-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786,20170022,32080,"CCPS TRANSPORTATION, LLC",LINE 59 KEY STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,SALISBURY,CHARITON,MO,MATERIAL/WELD/EQUIP FAILURE,PUMP OR PUMP-RELATED EQUIPMENT,YES,12/22/2016 21:53,12/23/2016 2:26,2016-12-22
2787,20170021,30829,ENTERPRISE CRUDE PIPELINE LLC,ECHO MANIFOLD,ONSHORE,ABOVEGROUND,CRUDE OIL,HOUSTON,HARRIS,TX,ALL OTHER CAUSES,UNKNOWN,NO,NaN,NaN,2016-12-23
2790,20170015,32334,TC OIL PIPELINE OPERATIONS INC,KEYSTONE,ONSHORE,ABOVEGROUND,CRUDE OIL,TINA,CARROLL,MO,MATERIAL/WELD/EQUIP FAILURE,THREADED CONNECTION/COUPLING FAILURE,YES,12/27/2016 8:54,12/27/2016 16:11,2016-12-27
2792,20170027,39145,ENBRIDGE STORAGE (CUSHING) L.L.C.,CUSHING CENTRAL TERMINAL,ONSHORE,TANK,CRUDE OIL,CUSHING,PAYNE,OK,MATERIAL/WELD/EQUIP FAILURE,OTHER EQUIPMENT FAILURE,NO,NaN,NaN,2016-12-29
2794,20170025,30829,ENTERPRISE CRUDE PIPELINE LLC,MARSHALL STATION,ONSHORE,ABOVEGROUND,CRUDE OIL,GONZALES,GONZALES,TX,INCORRECT OPERATION,INCORRECT INSTALLATION,NO,NaN,NaN,2017-01-09

In [80]:
cleaned_accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103 entries, 4 to 2794
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   report_number      1103 non-null   int64
 1   op_id              1103 non-null   int64
 2   op_name            1103 non-null   object
 3   facility_name      1103 non-null   object
 4   location           1103 non-null   object
 5   pipeline_type      1103 non-null   object
 6   liquid_type        1103 non-null   object
 7   city               1103 non-null   object
 8   country            1103 non-null   object
 9   state              1103 non-null   object
 10  cause_cat          1103 non-null   object
 11  cause_subcat       1103 non-null   object
 12  shutdown           1103 non-null   object
 13  shut_date_time     590 non-null    object
 14  restart_date_time  559 non-null    object
 15  date               1103 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 146.5+ KB